#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"

// Debug Configuration
FLUTTER_BUILD_MODE=debug
OPTIMIZATION_LEVEL=0
SWIFT_OPTIMIZATION_LEVEL=-Onone
GCC_OPTIMIZATION_LEVEL=0
DEBUG_INFORMATION_FORMAT=dwarf
ENABLE_TESTABILITY=YES
ONLY_ACTIVE_ARCH=YES