#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

// Release Configuration
FLUTTER_BUILD_MODE=release
OPTIMIZATION_LEVEL=s
SWIFT_OPTIMIZATION_LEVEL=-O
GCC_OPTIMIZATION_LEVEL=s
DEBUG_INFORMATION_FORMAT=dwarf-with-dsym
ENABLE_TESTABILITY=NO
ONLY_ACTIVE_ARCH=NO
STRIP_INSTALLED_PRODUCT=YES
COPY_PHASE_STRIP=YES
VALIDATE_PRODUCT=YES